.loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    bottom: 0;
    border-radius: inherit;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
    &--loading{
        display: flex;
    }
}