.person-detail{

    
    display: flex;
    &__name{
        font-size: 3rem;
    }

    &__info-area{
        flex: 1;
        padding: 1rem;
    }

    &__img-area{
        max-width: 20rem;
    }

    &__img{
        max-width: 100%;
        max-height: 100%;
    }
}