.search-drop-down{
    position: absolute;
    top: 100%;
    display: none;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    z-index: 20;

    &__item{
        padding: .5rem 1rem;
        font-size: 1rem;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 5px;
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: all .3s ;
        &:hover{
            background: #eee;
        }
    }

 
    &--show{
        display: block;
    }

    
}